language: ruby
rvm: 2.5.1

sudo: false
cache: bundler

addons:
  apt:
    packages:
    - libcurl4-openssl-dev  # required to avoid SSL errors

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true  # speeds up installation of html-proofer

script:
  - bundle exec jekyll build && bundle exec htmlproofer ./_site --check-html
