language: ruby
rvm: 3.3.3 # Pinned it to this version because the current stable
           # version 3.3.4 isn't available in 'travis-ci-language-archive' yet

cache: bundler

addons:
  apt:
    packages:
    - libcurl4-openssl-dev  # required to avoid SSL errors

script:
  - bundle exec jekyll build && bundle exec htmlproofer ./_site
