---
layout: default
---
{% include wrap.html %}

<div class="service">
    <div class="container mtb">
        <div class="row">
            {{content}}
        </div>
        <div id="tab" class="row">
            <div class="col-md-5">
                <h2>APEL Releases</h2>
                <ul id="apel"></ul>
            </div>
            <div class="col-md-5 col-md-push-1">
                <h2>SSM Releases</h2>
                <ul id="ssm"></ul>
            </div>
        </div>
    </div>
    <div class="container mtb">
        <div class="row centered">    
            <a class="btn-block btn-theme btn-lg " href="../">Go Back</a>
        </div>
    </div>
</div>

<!-- Fetch Releases and Display All Tar/Zip File Links-->
<script type="text/javascript">
    $(document).ready(function () {
        GetLatestApelReleaseInfo();
        GetLatestApelSSMReleaseInfo();
    });

    function GetLatestApelReleaseInfo() {
        $.getJSON("https://api.github.com/repos/apel/apel/releases")
        // Successful JSON request
            .success(function (json) {

                var objCount = 0;

                while (json[objCount] != null) {
                    if (json[objCount].prerelease != true) {
                        var tag = json[objCount].tag_name;
                        var url = json[objCount].html_url;
                        $("#apel").append('<li><a href="' + url + '/"><span class="tab">' + tag + '</span></a></li>');
                    }
                    objCount++;
                }

                // Output success
                console.log("Request Success");

                /*/////////////////////////
                //  Debug: Use to see all 'latest' releases
                ///////////////////////////
                var objCount = 0;
                for (x in json) {
                objCount++;
                }

                var latest = [];
                var latCount = 0;

                for (var x = 0; x < objCount; x++) {
                if (json[x].prerelease != true) {
                latest[latCount] = json[x];
                latCount++;
                }
                }

                for (var x = 0; x < latCount; x++) {
                console.log(latest[x].tag_name);
                console.log(latest[x].created_at);
                console.log(latest[x].tarball_url);
                }
                */
                //////////////////////////////////////

            })// Inform of JSON Error
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
            });
    }

    function GetLatestApelSSMReleaseInfo() {
        $.getJSON("https://api.github.com/repos/apel/ssm/releases")
        // Successful JSON request
            .success(function (json) {

                var objCount = 0;

                while (json[objCount] != null) {
                    if (json[objCount].prerelease != true) {
                        var tag = json[objCount].tag_name;
                        var url = json[objCount].html_url;
                        $("#ssm").append('<li><a href="' + url + '/"><span class="tab">' + tag + '</span></a></li>');
                    }
                    objCount++;
                }

                // Output success
                console.log("Request Success");

                /*/////////////////////////
                //  Debug: Use to see all 'latest' releases
                ///////////////////////////
                var objCount = 0;
                for (x in json) {
                objCount++;
                }

                var latest = [];
                var latCount = 0;

                for (var x = 0; x < objCount; x++) {
                if (json[x].prerelease != true) {
                latest[latCount] = json[x];
                latCount++;
                }
                }

                for (var x = 0; x < latCount; x++) {
                console.log(latest[x].tag_name);
                console.log(latest[x].created_at);
                console.log(latest[x].tarball_url);
                }
                */
                //////////////////////////////////////

            })// Inform of JSON Error
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
            });
    }
</script>