{% include head.html %}

<div class="wrapper">
    <header>
        <h1>{{site.name}}</h1>
        <p>{{page.subheading}}</p>
        &nbsp;
        {% include nav.html %}
    </header>
    <section>
        <h1> {{page.title}}</h1>

        {{content}}
        <section>
            <table>
            {% for post in site.posts limit:1 %}
                <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
                <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
                </a>
            {% endfor %}
            </table>
        </section>

        &nbsp;

        <section>
            <table>
            {% for post in site.posts offset:1 limit:2 %}
            <td width="200px">
                <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3>   
                <p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
                <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
                </a>
            </td>
            {% endfor %}
            </table>
        </section>
        
        &nbsp;
        <div align="center" style="border: 1px solid black; font-size: 20px;">
            <a href="/news/archive/">Browse other posts</a>
        </div>
    </section>
</div>
{% include foot.html %}
