---
layout: default
---
<div class="service">

    {% include wrap.html %}

    <div class="container">
        <div class="row">
            <div class="container">
            <section>

            {{ content }}

            <div class="col-md-6">
                <h1 class="apel-version">APEL</h1>


                <h3>SL5</h3>

                <a id="sl5-src-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Source</a>
                <a id="sl5-client-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Client</a>
                <a id="sl5-server-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Server</a>
                <a id="sl5-lib-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Lib</a>
                <a id="sl5-parsers-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Parsers</a>

                <h3>SL6</h3>

                <a id="sl6-src-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Source</a>
                <a id="sl6-client-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Client</a>
                <a id="sl6-server-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Server</a>
                <a id="sl6-lib-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Lib</a>
                <a id="sl6-parsers-download" class="btn btn-theme" href="https://github.com/apel/apel/releases/latest">Parsers</a>
            </div>

            <div class="col-md-6 col-md-push-1">
                <h1 class="apelssm-version">APEL SSM</h1>

                <h3>SL5</h3>

                <a id="ssm-sl5-src-download" class="btn btn-theme" href="https://github.com/apel/ssm/releases/latest">Source</a>
                <a id="ssm-sl5-client-download" class="btn btn-theme" href="https://github.com/apel/ssm/releases/latest">Client</a>  

                <h3>SL6</h3>

                <a id="ssm-sl6-src-download" class="btn btn-theme" href="https://github.com/apel/ssm/releases/latest">Source</a>
                <a id="ssm-sl6-client-download" class="btn btn-theme" href="https://github.com/apel/ssm/releases/latest">Client</a>
            </div>

            </section>

            <!-- Get Latest Release -->
            <script type="text/javascript">
                $(document).ready(function () {
                    GetApelLatestReleaseInfo();
                    GetApelSSMLatestReleaseInfo();
                });

                function GetApelLatestReleaseInfo() {
                    $.getJSON("https://api.github.com/repos/apel/apel/releases")
                    // Successful JSON request
                        .success(function (json) {

                            var found = false;
                            var objCount = 0;

                            while (found == false) {

                                //Find Latest Release
                                if (json[objCount].prerelease != true) {

                                    var rpms = [];

                                    for (var x = 0; x < 10; x++) {
                                        var data = json[objCount].assets[x].name;
                                        rpms.push(json[objCount].assets[x]);
                                    }

                                    //SL5 Elements
                                    document.getElementById("sl5-src-download").href = rpms[0].browser_download_url;
                                    document.getElementById("sl5-client-download").href = rpms[2].browser_download_url;
                                    document.getElementById("sl5-lib-download").href = rpms[4].browser_download_url;
                                    document.getElementById("sl5-parsers-download").href = rpms[6].browser_download_url;
                                    document.getElementById("sl5-server-download").href = rpms[8].browser_download_url;

                                    //SL6 Elements
                                    document.getElementById("sl6-src-download").href = rpms[1].browser_download_url;
                                    document.getElementById("sl6-client-download").href = rpms[3].browser_download_url;
                                    document.getElementById("sl6-lib-download").href = rpms[5].browser_download_url;
                                    document.getElementById("sl6-parsers-download").href = rpms[7].browser_download_url;
                                    document.getElementById("sl6-server-download").href = rpms[9].browser_download_url;

                                    //Set HREFs to relevant urls
                                    $(".apel-version").text("APEL Version: " + json[objCount].tag_name);

                                    // exit loop
                                    found = true;
                                }

                                objCount++;
                            }

                            // Output success
                            console.log("Request Success");

                            /*/////////////////////////
                            //  Debug: Use to see all 'latest' releases
                            ///////////////////////////
                            var objCount = 0;
                            for (x in json) {
                            objCount++;
                            }

                            var latest = [];
                            var latCount = 0;

                            for (var x = 0; x < objCount; x++) {
                            if (json[x].prerelease != true) {
                            latest[latCount] = json[x];
                            latCount++;
                            }
                            }

                            for (var x = 0; x < latCount; x++) {
                            console.log(json[objCount].tag_name);
                            console.log(json[objCount].created_at);
                            console.log(json[objCount].assets);

                            var rpms = [];

                            for (var x = 0; x < 10; x++) {
                            var data = json[objCount].assets[x].name;

                            if (data.indexOf(type) >= 0) {
                            rpms.push(json[objCount].assets[x]);
                            }
                            }

                            for (var x = 0; x < 5; x++) {
                            console.log(rpms[x].name);
                            }
                            */
                            //////////////////////////////////////

                        })// Inform of JSON Error
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });
                }

                function GetApelSSMLatestReleaseInfo() {
                    $.getJSON("https://api.github.com/repos/apel/ssm/releases")
                    // Successful JSON request
                        .success(function (json) {

                            var found = false;
                            var objCount = 0;

                            while (found == false) {

                                //Find Latest Release
                                if (json[objCount].prerelease != true) {

                                    var rpms = [];

                                    for (var x = 0; x < 4; x++) {
                                        var data = json[objCount].assets[x].name;
                                        rpms.push(json[objCount].assets[x]);
                                    }

                                    //SL5 Elements
                                    document.getElementById("ssm-sl5-src-download").href = rpms[1].browser_download_url;
                                    document.getElementById("ssm-sl5-client-download").href = rpms[0].browser_download_url;

                                    //SL6 Elements
                                    document.getElementById("ssm-sl6-src-download").href = rpms[3].browser_download_url;
                                    document.getElementById("ssm-sl6-client-download").href = rpms[2].browser_download_url;

                                    //Set HREFs to relevant urls
                                    $(".apelssm-version").text("APEL-SSM Version: " + json[objCount].tag_name);

                                    // exit loop
                                    found = true;
                                }

                                objCount++;
                            }

                            // Output success
                            console.log("Request Success");

                            /*/////////////////////////
                            //  Debug: Use to see all 'latest' releases
                            ///////////////////////////
                            var objCount = 0;
                            for (x in json) {
                            objCount++;
                            }

                            var latest = [];
                            var latCount = 0;

                            for (var x = 0; x < objCount; x++) {
                            if (json[x].prerelease != true) {
                            latest[latCount] = json[x];
                            latCount++;
                            }
                            }

                            for (var x = 0; x < latCount; x++) {
                            console.log(json[objCount].tag_name);
                            console.log(json[objCount].created_at);
                            console.log(json[objCount].assets);

                            var rpms = [];

                            for (var x = 0; x < 10; x++) {
                            var data = json[objCount].assets[x].name;

                            if (data.indexOf(type) >= 0) {
                            rpms.push(json[objCount].assets[x]);
                            }
                            }

                            for (var x = 0; x < 5; x++) {
                            console.log(rpms[x].name);
                            }
                            */
                            //////////////////////////////////////

                        })// Inform of JSON Error
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });
                }
            </script>
            </div>
        </div>
    </div>

    <div class="container mtb">
        <div class="row centered">    
            <a class="btn-block btn-theme btn-lg " href="/">Go Back</a>
        </div>
    </div>
</div>